@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: green;
    --secondary: darkgray;
    --text-primary: lightgray;
    --text-secondary: white;
    --background-primary: #F5F7FA;
    --background-secondary: white;
  }

  .dark {
    --primary: green;
    --secondary: darkgray;
    --text-primary: lightgray;
    --text-secondary: white;
    --background-primary: #F5F7FA;
    --background-secondary: white;
  }
}

body::-webkit-scrollbar{
  display: none;
}